<main class="lista-vacantes">
    <h2>Lista de Vacantes</h2>
    <div class="vacante">
        <div class="caja">
            <h3>Facebook</h3>
            <p class="puesto">React Developer</p>
        </div>
        <div class="caja">
            <p class="etiqueta">Ubicación</p>
            <p class="nombre">Remoto</p>
        </div>
        <div class="caja">
            <p class="etiqueta">Contrato</p>
            <p class="nombre contrato">Tiempo Completo</p>
        </div>
        <div class="caja central-vertical">
            <a href="#" class="btn btn-verde">Más Información</a>
        </div>
    </div>
    <div class="vacante">
        <div class="caja">
            <h3>Google</h3>
            <p class="puesto">Node Developer</p>
        </div>
        <div class="caja">
            <p class="etiqueta">Ubicación</p>
            <p class="nombre">Remoto</p>
        </div>
        <div class="caja">
            <p class="etiqueta">Contrato</p>
            <p class="nombre contrato">Tiempo Completo</p>
        </div>
        <div class="caja central-vertical">
            <a href="#" class="btn btn-verde">Más Información</a>
        </div>
    </div>
</main>